.all_trans_container{
    height: 100%;
    position: relative;
    width: 100%;
}
.all_trans_main{
    position: absolute;
    left: 64px;
    height: 100vh ;
    background: rgb(51, 50, 50);
    /* color: #58d1c1; */
    width: calc(100vw - 64px);
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
.all_trans_fixed{
    position: fixed;
    width: calc(100vw - 64px);   
    background: rgb(51, 50, 50);
    z-index: 2;
    border-bottom: solid 2px #58d1c1;
}
.all_trans_fixed u{
    font-family: 'Permanent Marker', cursive;
    color: #ffe261;
    font-size: 30px;
}
.trans_button{
    border:0;
    border-radius: 5px;
    margin: 0 3px 0 3px;
    height:15px;
    width: 75px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 14px;
    margin-bottom: 6px;    
}
#all{
    background: #58d1c1;
}
.depo{
    background: rgb(106, 204, 106);
    margin-bottom: 6px;
}
.trans{
   background: rgb(238, 117, 118);
}
.cards{
    position: relative;
    top: 266.88px;
    z-index: 1;
    align-items: center;
    background: rgb(51, 50, 50);
}
@media (min-width: 500px){
    .all_trans_main{
        position: absolute;
        left: 90px;
        width: calc(100vw - 90px);  
    }
    .all_trans_fixed u{
        font-size: 48px;
    }
    .all_trans_fixed{
        width: calc(100vw - 90px);     
    }
    .cards{
        top: 347.68px;
    }
    .trans_button{
        height: 20px;
    }  
    #all{
        margin-bottom: 6px;
    }  
}