.add_deposit_container{
    height: 100%;
    position: relative;
    width: 100%;
}
.add_deposit_main{
    position: absolute;
    left: 64px;
    height: 100vh;
    background: rgb(51, 50, 50);
    /* color: #58d1c1; */
    width: calc(100vw - 64px);
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    align-items: center;
    
}
.add_deposit_fixed{
    position: fixed;
    width: calc(100vw - 64px);    
    background: rgb(51, 50, 50);
    z-index: 2;
}
.add_deposit_fixed p{
    font-size: 20px;
    color: #58d1c1;
}
.add_deposit_fixed u{
    font-family: 'Permanent Marker', cursive;
    color: #ffe261;
}
.depo_input{
    display: block;
    background: #58d1c1;
    margin: 10px auto;
    height: 20px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px; 
    width: 230px;   
}
.depo_radio{
    font-size: 20px;
    color: #58d1c1
}
#cleared{
    margin-right: 10px;
}
.depo_line{
    margin-bottom: 0;
    box-sizing: border-box;
    border: #58d1c1 1px solid;
}
.envelope_rows{
    position: absolute;
    top: 218.08px;
    background: rgb(51, 50, 50);
    width: 100%
}
.depo_note{
    margin-top: 5px;
    color: rgb(51, 50, 50);
    background: #58d1c1;
    text-decoration: rgb(51, 50, 50);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    width: 230px;
    border-radius: 5px;
    
}
.depo_button{
    border: 0;
    border-radius: 15px;
    height: 30px;;
    background: #58d1c1;
    margin: 5px;
    color: rgb(51, 50, 50); 
    font-family: 'Do Hyeon', sans-serif;   
}
.depo_button:disabled{
    background: red;
}

@media (min-width: 500px){
    .add_deposit_main{
        position: absolute;
        left: 90px;
        width: calc(100vw - 90px);  
    }
    .add_deposit_fixed{
        width: calc(100vw - 90px);     
    }

    .envelope_rows{
        top: 242.28px;
    }
    .add_deposit_fixed h1{
        font-size: 42px;
    }
    .depo_input{
        height: 40px;
        width: 120px;
        margin: 10px;
        display: inline-block;
    }
}