.move_container{
    height: 100%;
    position: relative;
    width: 100%;
}
.move_main{
    position: absolute;
    left: 64px;
    background: rgb(51, 50, 50);
    color: #58d1c1;
    width: calc(100vw - 64px);
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    height: 100%;
}
.move_main h1{
    color: #ffe261;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
}
.move_dropdown{
    background: #58d1c1;
    margin: 20px 0 20px 0;
    height: 40px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px; 
    width: 150px;   
    border: 0;
    border-radius: 5px;
}
@media (min-width: 500px){
    .move_main{
        position: absolute;
        left: 90px;
        width: calc(100vw - 90px);  
    }
    .move_main h1{
        font-size: 48px;
    }    
    .move_main label{
        font-size: 25px;
    }
    .move_main h3{
        font-size: 30px;
    }
    .move_dropdown{
        height: 50px;
        width: 200px;
        font-size: 28px;
    }    
}