.App {
  /* text-align: center; */
  height: 100%;
}
/* html{
  height: 100%;
}
body{
  height: 100%;
} */
.main{
  /* display: flex; */
  /* position: absolute;
  left: 20vw;
  background: rgb(46, 45, 45);
  color: white;
  width: 80vw;
  height: 100%; */
  /* text-align: center; */
  /* align-items: center */
}

