.add_trans_container{
    height: 100%;
    position: relative;
    width: 100%;
}
.add_trans_main{
    position: absolute;
    left: 20vw;
    height: 100vh;
    background: rgb(51, 50, 50);
    /* color: #58d1c1; */
    width: 80vw;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
.add_trans_main u{
    font-family: 'Permanent Marker', cursive;
    color: #ffe261;
}
.add_trans_input{
    background: #58d1c1;
    margin: 20px 0 20px 0;
    height: 40px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px; 
    width: 230px;   
    border:0;
}
.add_trans_dropdown{
    background: #58d1c1;
    margin: 20px 0 20px 0;
    height: 40px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px; 
    width: 230px;   
    border: 0;
    border-radius: 5px;
}
.trans_radio{
    font-size: 20px;
    color: #58d1c1
}
.trans_note{
    margin-top: 5px;
    color: rgb(51, 50, 50);
    background: #58d1c1;
    text-decoration: rgb(51, 50, 50);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    width: 230px;
    border-radius: 5px;
}
.trans_submit{
    border: 0;
    background: 0;
    font-family: 'Permanent Marker', cursive;
    color: #ffe261;
    font-size: 40px;
}