.login{
    background: rgb(46, 45, 45);
    height: 100%;
    color: white;
}
.login a{
    color: yellow;
}
.logo_container{
    position: relative;
    width: 20vh;
    padding-top: 20vh;
}
.login_logo{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#atribute a{
    color: red;
}