.nav_bar{
    width: 20vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    display: block;
    background: gainsboro;
    box-sizing: border-box;
}
#logo{
    background: rgb(99, 224, 255);
    box-sizing: border-box;
    padding: 2px;
}
img{
    width: 100%;
    box-sizing: border-box;
}
.nav_button{
    margin-bottom: 5vh;
    width: 100%;
}