.plan_container{
    height: 100%;
    position: relative;
    width: 100%;
}
.plan_main{
    position: absolute;
    left: 64px;
    background: rgb(51, 50, 50);
    color: #58d1c1;
    width: calc(100vw - 64px);
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    height: 100%;
}
.plan_main h1{
    color: #ffe261;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
}
.plan_fixed{
    position: fixed;
    width: calc(100vw - 64px);   
    background: rgb(51, 50, 50);
    z-index: 2;
}
.plan_envelopes{
    position: absolute;
    top: 171.68px;
    width: 100%;
}
@media (min-width: 500px){
    .plan_main{
        position: absolute;
        left: 90px;
        width: calc(100vw - 90px);  
    }
    .plan_fixed{
        width: calc(100vw - 90px); 
        font-size: 20px;    
    }

    .plan_envelopes{
        top: 222.68px;
    }
    .payday_fixed h1{
        font-size: 42px;
    }
    .payday_input{
        height: 30px;
        font-size: 20px;  
        width: 100px;          
    }

}