.parent{
    height: 100%;
}
.dash_main{
    position: absolute;
    left: 20vw;
    background: rgb(51, 50, 50);
    color: #58d1c1;
    width: 80vw;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
.dash_main h2{
    color: #ffe261;
}
.envelope_totals{
    border: solid black 2px;
    background: #58d1c1;
    color: rgb(51, 50, 50);
    margin: 10px;
}
.envelope_totals h4{
    margin: 5px;
}