.payday_container{
    height: 100%;
    position: relative;
    width: 100%;
}
.payday_main{
    position: absolute;
    left: 64px;
    background: rgb(51, 50, 50);
    color: #58d1c1;
    width: calc(100vw - 64px);
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    height: 100%;
}
.payday_main h1{
    color: #ffe261;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
}
.payday_fixed{
    position: fixed;
    width: 80vw;    
    background: rgb(51, 50, 50);
    z-index: 2;
}
.payday_input{
    background: #58d1c1;
    color: rgb(51, 50, 50);
    margin: 5px 0 5px 0;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px; 
    width: 75px;
}
.payday_cards{
    position: absolute;
    top: 171.68px;
    width: 100%;
}